div {
    display:block;
    margin:0 auto 0 auto;
    border: 0px dotted hsl(222,61%,61%);
}

#main,#navigation{
    width:61%;
}

#navigation {
    text-align:center;
}

.clickable {
    cursor:pointer;
}

.navi-item {
    display:inline-block;
    border:1px solid hsl(222,61%,61%);
    width:6em;
    text-align:center;
    cursor:pointer;
    margin:1px 1px 1px 1px;
}

.center , input{
    text-align:center;
}

.url-box {
    width:39%;
}

.navi-item-active {
    border:1px solid hsl(222,61%,84%);
}

#message {
    display:block;
}

.button:hover {
     border:solid 2px hsl(222,61%,61%);
}

.button{
    border:solid 2px hsl(222,38%,84%);
    padding:1px;
    text-align: center;
    width:61px;
    cursor:pointer;
}
