<!doctype html>
<html>
    <head>
        <meta charset="utf-8"</meta>
        <title>options</title>
        <link rel="stylesheet" href="options.css"></link>
        <script src="options.js" type="text/javascript"></script> 
    </head>
    <body>
        <div id="main">
            <div id="navigation">    
                <div class='navi-item'  ng-repeat='navi in navis' ng-class='{"navi-item-active":navi.active}'  ng-mouseover='activate($index)'>
                    <span>{{navi.name}}</span>
                </div>
            </div>
            <div id="stage">
                <div id='servers' ng-show='active'>
                    <div ng-repeat='server in switchyd.config.servers'>
                        <select ng-model='server.type'>
                            <option ng-repeat='type in ["SOCKS5","PROXY"]'>{{type}}</option>
                        </select>
                        <span>
                            <input type='text' ng-model='server.ip'></input>:<input type='text' ng-model='server.port'></input>
                            <text class='clickable' ng-click='append(switchyd.config.servers[$index])'>+</text>
                            <text class='clickable' ng-click='switchyd.config.servers.splice($index,1)'>-</text>
                        </span>
                    </div>
                </div>
                <div id='proxy-list' ng-show='active'>
                    <ul>
                        <li ng-repeat='row in expand(switchyd.config.tracers.proxy)'>{{row}}</li>
                    </ul>  
                </div>
                <div id='white-list' ng-show='active'>
                </div>
            </div>
        </div>
    </body>
</html>
